@font-face {
    font-family: 'zombies';
    src: url('./Fonts/CurseoftheZombie.woff2') format('woff2'),
        url('./Fonts/CurseoftheZombie.woff') format('woff');
}

@font-face {
    font-family: 'chuky';
    src: url('./Fonts/ChukyChuky-Black.woff2') format('woff2'),
        url('./Fonts/ChukyChuky-Black.woff') format('woff');
}

@font-face {
    font-family: 'scream';
    src: url('./Fonts/ScreamAgain.woff2')format('woff2'),
        url('./Fonts/ScreamAgain.woff') format('woff');
}
@keyframes hit {
    
    to {filter:hue-rotate(225deg);}
    
  }

body{
    background-color: #6B2D2B;
    margin:0;
    padding:0;

}


#board{
    cursor: url(./cursor/cursor1.png),auto;
   
    
    
    position:relative;
    margin:50px auto;
    width: 800px;
    height: 600px;
    background-color: rgba(182, 182, 182, 0.397);
    
}
.player{
    
    background-image: url(./img/player1.png) ;
    background-size:contain;
    z-index: 2;
    
   
}
.zombie{
    
   
   background-size:contain;
}
.zombie-fast{
   
    background-image: url(./img/zombieB.png);
    background-size: contain;
}
.zombie-boss{
   
    background-image: url(./img/zombieBoss.png);
    background-size: contain;
    border-radius: 8px;
}
.baby-zombie{
   
    background-image: url(./img/zombieBoss.png);
    background-size: contain;
    border-radius: 2px;
}


/* score */
.score{
    visibility:hidden;
    position:absolute;
    font-family: 'scream';
    
  
    color: #d9fa32;
    text-align: center;
    font-size: 12px;
    

    
    
}
.score p{
    margin: -15px;
    font-size: 20px;
    
  /* game over window   */
}
.small-window{
    background-color: rgba(255, 255, 255, 0.329);
    border:4px solid black;
    border-radius: 10% / 68%;
    width:60%;
    height:40%;
    
    font-family:"scream";

    position:absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin:auto;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    z-index: 3;
    
}

.game-over h2{
    
    margin:0;
    text-align: center;
    font-size: 40px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    letter-spacing: 2px;
    color:#d9fa32cc;
    
    
}
.game-over h3{
    margin:0;
    font-size:15px;
    tab-size: 8;
}
.game-over h3 span{
    font-size:12px;
    tab-size: 8;

}
.game-over h3 span span{
    font-size:8px;
    

}
.btn{
    
    font-family: "scream";
    font-size: 20px;
    padding:6px 10px;
    
    margin:10px;
    width:auto;
    height:auto;
    background-color:#d9fa32cc;
    border-radius: 10% / 50%;
}
.btn:hover{
    font-size: 23px;
    cursor:pointer;
}

.bullet{
    background-color: rgb(255, 196, 0);
    border:0.5px solid black;
    
}

.start-game h2{
    font-family:"scream" ;
    margin:0;
    text-align: center;
    font-size: 60px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    letter-spacing: 2px;
    color:#d9fa32cc;
}
#chamber{
    position:absolute;
    margin:10px;
    display:flex;
    flex-direction: row;
}
.ammo{
    background-image: url(./img/bullet.png);
    width: 30px;
    height:30px;
    margin-left:-5px;
    background-size: contain;    
   
}

